# GitHub
GITHUB_TOKEN=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my

# Gemini API
GEMINI_API_KEY=AIzaSyDnxYdEgk49XmJKJr4jfS2Mr13imue6ORY

# Redis (Upstash)
UPSTASH_REDIS_REST_URL="https://faithful-mutt-102369.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAAY_hAAIgcDJmOWZhYWI5MTEzZWY0ZTk5OWZhM2U4MzU0MWU4YTNiMA"

# Backend
PORT=4000
API_URL=http://localhost:4000
FRONTEND_URL=http://localhost:3000

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:4000
