# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz


/coverage

# next.js
.next/
/out/
build/

# misc
.DS_Store
Thumbs.db
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turborepo
.turbo/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# build output
dist/

# nested git repositories
codemap/

# cache
.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
